html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}
:root {
  --first-color: #c0b097;
  --second-color: #65758d;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: #fff;
}
h1,
nav {
  padding: 1rem 0;
}

.Error {
  font-family: "Anton", sans-serif;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.error-text,
.error-number {
  width: 100%;
  color: transparent;
  text-align: center;
  font-size: 8rem;
  font-weight: bold;
  background-image: url(./assets/mountain.jpg);
  background-size: cover;
  background-position-y: center;
  background-clip: text;
}
.error-number {
  color: #000;
  font-size: 8rem;
}

.Error a {
  text-decoration: none;
  color: #4a4de9;
}
a {
  margin: 0 1rem;
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
  cursor: pointer;
}
svg {
  pointer-events: none;
}
.active {
  font-weight: bold;
  color: #c09269;
}
.crud-api {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

input[type="text"] {
  border: thin solid #dedede;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  border-radius: 0.25rem;
  margin: 0 0.1rem;
  display: inline-block;
  background-color: #eee;
  color: #444;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.25rem;
}
input[type="submit"],
input[type="reset"] {
  padding: 0.5rem 1rem;
}
form,
.crud-form {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: thin solid #dedede;
}

.btn-delete,
input[type="reset"] {
  background-color: #fa1d42;
  color: #fff;
}
.btn-edit,
input[type="submit"] {
  background-color: #4720f3;
  color: #fff;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #65758d;
  color: #fff;
  font-weight: bold;
}
.loader img {
  width: 4rem;
  height: auto;
}
.table-crud {
  font-size: 0.85rem;
}

.table-actions {
  width: 6rem;
}

/* navbar */
.navbar {
  height: 4rem;
  background-color: #65758d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 2rem;
}
.navbar-container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 4rem;
  right: 0;
  justify-content: space-between;
  background-color: #65758d;
  padding: 2rem 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
}
.navbar-container.isVisible {
  opacity: 1;
  pointer-events: initial;
}
.navbar-container .list-menu {
  flex-direction: column;
}
.list {
  display: flex;
  align-items: center;
}
.crud-table-title {
  color: #c09269;
  margin: 1rem 0;
}
thead {
  color: #65758d;
}
.btn-navbar {
  padding: 0 1rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .btn-delete,
  .btn-edit {
    padding: 0.3rem;
    margin: 0 0.25rem;
  }
  .crud-api {
    width: 100%;
    padding: 0 4rem;
  }
  header {
    width: 100%;
  }
  .btn-navbar {
    display: none;
  }
  .navbar-container {
    display: flex;
    position: initial;
    flex-direction: row;
    opacity: 1;
    pointer-events: initial;
  }
  .navbar-container .list-menu {
    flex-direction: row;
  }
}
